.header {
    margin: 50px 20px;
    font-size: 30px;
    font-family: TextLight, monospace;
    position: sticky;
    min-height: 35px;
    max-height: 35px;
}

.header-wrapper {
    height: 135px;
    width: 100%;
    background-color: #eceff1;
    padding-top: 1px;
}

#main-header:hover {
    cursor: pointer;
}

#github {
    font-size: 30px;
    margin-left: 10px;
}
#github svg {
    transition: color 0.08s linear;
    color: black;
}


#github svg:hover{
    cursor: pointer;
    color: gray;
}