#information {
    width: calc(100% - 400px);
}

#content {
    width: calc(100% - 20px);
    height: calc(100% - 136px - 40px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px 10px;
}